execution/n8n/n8n_ortools_workflow.json
{
    "name": "OR-Tools SchedulAI solver",
    "nodes": [
        {
            "id": "node-1",
            "name": "Webhook",
            "parameters": {
                "httpMethod": "POST",
                "options": {},
                "path": "ortools-solve"
            },
            "position": [
                112,
                304
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "webhookId": "5f90d278-6917-4a04-a8c1-2a5c4ac91fcf"
        },
        {
            "id": "d7393075-c8b1-47a9-822c-7ca1e1930fae",
            "name": "When clicking ‘Execute workflow’",
            "parameters": {},
            "position": [
                112,
                496
            ],
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1
        },
        {
            "id": "node-validate",
            "name": "Validate API",
            "parameters": {
                "jsonBody": "={{ { \"spec\": $json.body ? $json.body : $json, \"max_time_seconds\": 10 } }}",
                "method": "POST",
                "options": {},
                "sendBody": true,
                "specifyBody": "json",
                "url": "http://192.168.0.72:8001/validate"
            },
            "position": [
                304,
                304
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4
        },
        {
            "id": "valid-check-node-id",
            "name": "Is Valid?",
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "position": [
                512,
                304
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "id": "stop-error-node-id",
            "name": "Stop on Error",
            "parameters": {
                "errorMessage": "={{ $json.errors ? $json.errors.join(', ') : 'Errore sconosciuto durante la validazione' }}"
            },
            "position": [
                720,
                416
            ],
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1
        },
        {
            "id": "node-2",
            "name": "Solve API",
            "parameters": {
                "jsonBody": "={{ { \"spec\": $('Webhook').first() ? $('Webhook').first().json.body : $('When clicking ‘Execute workflow’').first().json, \"max_time_seconds\": 30 } }}",
                "method": "POST",
                "options": {
                    "timeout": 60000
                },
                "sendBody": true,
                "specifyBody": "json",
                "url": "http://192.168.0.72:8001/solve"
            },
            "position": [
                704,
                208
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4
        },
        {
            "id": "node-3",
            "name": "Flatten Schedule",
            "parameters": {
                "jsCode": "const results = [];\nconst data = $input.first().json;\nif (!data || !data.schedule) return [];\nfor (const date of Object.keys(data.schedule)) {\n  for (const site of Object.keys(data.schedule[date])) {\n    if (site === 'OFF') {\n        for (const emp of data.schedule[date][site]) {\n            results.push({ json: { date, site, shift: 'OFF', employee: emp } });\n        }\n        continue;\n    }\n    for (const shift of Object.keys(data.schedule[date][site])) {\n      for (const emp of data.schedule[date][site][shift]) {\n        results.push({ json: { date, site, shift, employee: emp } });\n      }\n    }\n  }\n}\nreturn results;"
            },
            "position": [
                912,
                208
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XhB46DjOXLGiBY5t",
                    "name": "Google Sheets account"
                }
            },
            "id": "node-4",
            "name": "Google Sheets",
            "parameters": {
                "columns": {
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false,
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "schema": [],
                    "value": {}
                },
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "YOUR_DOCUMENT_ID"
                },
                "operation": "append",
                "options": {},
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Sheet1"
                }
            },
            "position": [
                1104,
                208
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4
        }
    ],
    "connections": {
        "Flatten Schedule": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Google Sheets",
                        "type": "main"
                    }
                ]
            ]
        },
        "Is Valid?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Solve API",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Stop on Error",
                        "type": "main"
                    }
                ]
            ]
        },
        "Solve API": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Flatten Schedule",
                        "type": "main"
                    }
                ]
            ]
        },
        "Validate API": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Is Valid?",
                        "type": "main"
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Validate API",
                        "type": "main"
                    }
                ]
            ]
        },
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Validate API",
                        "type": "main"
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "saveExecutionProgress": true,
        "saveManualExecutions": true
    }
}