execution/n8n/n8n_ai_solver_workflow.json
{
    "name": "OR-Tools AI SchedulAI solver",
    "nodes": [
        {
            "parameters": {
                "path": "schedulai-form",
                "formTitle": "Generatore Orari SchedulAI",
                "formDescription": "Descrivi i tuoi requisiti per la generazione automatica dei turni.",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Richiesta o Modifiche (Prompt)",
                            "fieldType": "textarea",
                            "defaultValue": "=\"Ciao, ho bisogno di generare il piano turni per la prima settimana di Marzo 2026, dal 2 al 8 Marzo compresi. \n\nAbbiamo un solo sito di erogazione chiamato SITE_A.\nI turni operativi possibili sono due:\n- Mattina (M): dalle 07:00 alle 15:00 (480 minuti).\n- Sera (S): dalle 15:00 alle 23:00 (480 minuti).\n\nIl nostro team è composto da 10 dipendenti (da P1 a P10), tutti con contratto full_time e associati a SITE_A come sede base. Hanno tutti il ruolo di cleaner. \nPerò, solo i dipendenti da P1 a P3 possiedono la skill certified. I restanti (P4-P10) non hanno skill particolari.\n\nFabbisogno (Demand):\nPer ogni singolo giorno della settimana, ci servono esattamente:\n- 3 persone per il turno M (di cui almeno 1 deve avere la skill certified).\n- 2 persone per il turno S (di cui almeno 1 deve avere la skill certified).\n\nRegole e Vincoli (Constraints):\n1. (Hard) Ogni dipendente può fare un solo turno al giorno (oppure stare a riposo OFF).\n2. (Hard) È vietata la sequenza Smonto-Sera / Attacco-Mattina. Quindi se uno fa il turno S, il giorno dopo non può fare M.\n3. (Hard) Massimo 5 turni lavorati su una finestra mobile di 7 giorni.\n4. (Soft) Il dipendente P10 ha chiesto di non lavorare nel weekend (7 e 8 Marzo). Penalizza l'assegnazione di turni M o S in quei giorni con un peso di 3.\n5. (Soft) Distribuzione equa dei turni serali (S) tra tutti i dipendenti su finestre di 7 giorni, penalizzando le deviazioni dalla media automatica con un peso di 5.\n\nL'obiettivo del solver è minimizzare le penalità totali (i soft constraints).\nGenerami il JSON.\"\n",
                            "requiredField": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "form-trigger-id",
            "name": "On form submission",
            "position": [
                0,
                304
            ],
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2,
            "webhookId": "39628de2-7c48-4fd3-a5ca-12cc074d54f0"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json[\"Richiesta o Modifiche (Prompt)\"] }}",
                "messages": {
                    "messageValues": [
                        {
                            "message": "Sei un assistente esperto in Operations Research e modellazione dei dati. Il tuo compito è trasformare le richieste in linguaggio naturale dell'utente in un file JSON strettamente aderente allo schema `Roster DSL v1.0` per un Solver basato su Google OR-Tools.\n\nDevi emettere **solo ed esclusivamente** codice JSON valido. Niente spiegazioni, niente markdown (eccetto i blocchi ```json ``` se necessari, ma preferibilmente invia il RAW JSON), niente messaggi aggiuntivi.\n\n### Struttura Base del JSON\nIl payload DEVE OBBLIGATORIAMENTE contenere le seguenti chiavi root principali:\n`\"sets\"`, `\"shifts\"`, `\"employees\"`, `\"demand\"`, `\"constraints\"`, `\"objective\"`.\n\n### Regole Rigorose da Rispettare:\n\n1. **L'oggetto 'sets' è OBBLIGATORIO:**\nDevi estrarre dall'input e dichiarare ESPLICITAMENTE:\n- `sets.days`: array di stringhe \"YYYY-MM-DD\" (es. [\"2026-03-02\", \"2026-03-03\"])\n- `sets.shifts`: array di stringhe identificative dei turni (es. [\"M\", \"S\", \"OFF\"])\n- `sets.sites`: array di stringhe con i nomi delle sedi (es. [\"Direzione Generale\"])\n- `sets.skills`: array di stringhe (es. [\"certified\"])\n\n2. **Formati Data e Ora:**\nGli orari nei field `start` e `end` degli shifts devono essere nel formato **\"HH:MM\"** (es. \"07:00\", \"15:30\").\n\n3. **Il Turno OFF (Riposo):**\nLa lista `sets.shifts` **DEVE SEMPRE** includere il turno `\"OFF\"`.\nL'oggetto root `shifts` **DEVE SEMPRE** definire la proprietà `\"OFF\"` esattamente come: `{\"start\": \"00:00\", \"end\": \"00:00\", \"minutes\": 0, \"is_work\": false}`.\n\n4.  **Vincoli Hard e Soft:**\nRispetta i vincoli richiesti (es. `exactly_one_assignment_per_day`, `forbid_shift_sequences`, ecc...).\n\nManda in output ESCLUSIVAMENTE il codice JSON completo.",
                            "role": "system"
                        }
                    ]
                }
            },
            "id": "basic-llm-chain-id",
            "name": "Basic LLM Chain",
            "position": [
                208,
                304
            ],
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {}
            },
            "id": "openai-chat-model-id",
            "name": "OpenAI Chat Model",
            "position": [
                208,
                512
            ],
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "credentials": {
                "openAiApi": {
                    "id": "PFFN15WYjjdTA4aM",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const text = $input.first().json.text;\nlet jsonStr = text;\nif (jsonStr.includes('```json')) {\n    jsonStr = jsonStr.split('```json')[1].split('```')[0];\n}\nreturn [{ json: { body: JSON.parse(jsonStr) } }];"
            },
            "id": "parse-json-node",
            "name": "Parse LLM JSON Output",
            "position": [
                512,
                304
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.0.72:8001/validate",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"spec\": $json.body, \"max_time_seconds\": 10 } }}",
                "options": {}
            },
            "id": "node-validate",
            "name": "Validate API",
            "position": [
                688,
                304
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "valid-check-node-id",
            "name": "Is Valid?",
            "position": [
                848,
                304
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "parameters": {
                "errorMessage": "={{ $json.errors ? $json.errors.join(', ') : 'Spec generata non valida' }}"
            },
            "id": "stop-error-node-id",
            "name": "Stop on Error",
            "position": [
                1008,
                464
            ],
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1
        },
        {
            "parameters": {
                "operation": "clear",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "YOUR_DOCUMENT_ID"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Sheet1"
                }
            },
            "id": "node-clear-sheets",
            "name": "Clear Google Sheets",
            "position": [
                1008,
                160
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XhB46DjOXLGiBY5t",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.0.72:8001/solve",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"spec\": $(\"Parse LLM JSON Output\").first().json.body, \"max_time_seconds\": 30 } }}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "node-solve",
            "name": "Solve API",
            "position": [
                1312,
                160
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4
        },
        {
            "parameters": {
                "jsCode": "const results = [];\nconst data = $input.first().json;\nif (!data || !data.schedule) return [];\nfor (const date of Object.keys(data.schedule)) {\n  for (const site of Object.keys(data.schedule[date])) {\n    if (site === 'OFF') {\n        for (const emp of data.schedule[date][site]) {\n            results.push({ json: { date, site, shift: 'OFF', employee: emp } });\n        }\n        continue;\n    }\n    for (const shift of Object.keys(data.schedule[date][site])) {\n      for (const emp of data.schedule[date][site][shift]) {\n        results.push({ json: { date, site, shift, employee: emp } });\n      }\n    }\n  }\n}\nreturn results;"
            },
            "id": "node-flatten",
            "name": "Flatten Schedule",
            "position": [
                1600,
                160
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "YOUR_DOCUMENT_ID"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Sheet1"
                },
                "columns": {
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false,
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "schema": [
                        {
                            "canBeUsedToMatch": true,
                            "defaultMatch": false,
                            "display": true,
                            "displayName": "Data",
                            "id": "Data",
                            "removed": false,
                            "required": false,
                            "type": "string"
                        },
                        {
                            "canBeUsedToMatch": true,
                            "defaultMatch": false,
                            "display": true,
                            "displayName": "Cliente/Sede",
                            "id": "Cliente/Sede",
                            "removed": false,
                            "required": false,
                            "type": "string"
                        },
                        {
                            "canBeUsedToMatch": true,
                            "defaultMatch": false,
                            "display": true,
                            "displayName": "Turno (Mattina/Serale)",
                            "id": "Turno (Mattina/Serale)",
                            "removed": false,
                            "required": false,
                            "type": "string"
                        },
                        {
                            "canBeUsedToMatch": true,
                            "defaultMatch": false,
                            "display": true,
                            "displayName": "Dipendente",
                            "id": "Dipendente",
                            "removed": false,
                            "required": false,
                            "type": "string"
                        }
                    ],
                    "value": {
                        "Cliente/Sede": "={{ $json.site }}",
                        "Data": "={{ $json.date }}",
                        "Dipendente": "={{ $json.employee }}",
                        "Turno (Mattina/Serale)": "={{ $json.shift }}"
                    }
                },
                "options": {}
            },
            "id": "node-append-sheets",
            "name": "Google Sheets Append",
            "position": [
                1904,
                160
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XhB46DjOXLGiBY5t",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Parse LLM JSON Output",
                        "type": "main"
                    }
                ]
            ]
        },
        "Clear Google Sheets": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Solve API",
                        "type": "main"
                    }
                ]
            ]
        },
        "Flatten Schedule": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Google Sheets Append",
                        "type": "main"
                    }
                ]
            ]
        },
        "Is Valid?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Clear Google Sheets",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Stop on Error",
                        "type": "main"
                    }
                ]
            ]
        },
        "On form submission": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Basic LLM Chain",
                        "type": "main"
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "index": 0,
                        "node": "Basic LLM Chain",
                        "type": "ai_languageModel"
                    }
                ]
            ]
        },
        "Parse LLM JSON Output": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Validate API",
                        "type": "main"
                    }
                ]
            ]
        },
        "Solve API": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Flatten Schedule",
                        "type": "main"
                    }
                ]
            ]
        },
        "Validate API": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Is Valid?",
                        "type": "main"
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "saveManualExecutions": true,
        "saveExecutionProgress": true,
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    }
}